
*.sh
node_modules
lib
*.md
*.scss
*.woff
*.ttf
.vscode
.idea
dist
mock
public
bin
build
config
index.html
.nuxt
.output
assets
nuxt.config.ts
package-lock.json
package.json
README.md
server/tsconfig.json
tsconfig.json